aiohappyeyeballs==2.4.0
aiohttp==3.10.6
aiosignal==1.3.1
attrs==24.2.0
blinker==1.9.0
Brotli==1.1.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
discord-protos==0.0.2
discord.py-self @ git+https://github.com/dolfies/discord.py-self@0471428fc89b057f3a4f1a30e8aa2f9a3b8caa4a
discum==1.4.1
filetype==1.2.0
Flask==3.1.0
frozenlist==1.4.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
MouseInfo==0.1.3
multidict==6.1.0
pillow==10.4.0
protobuf==5.28.2
PyAutoGUI==0.9.54
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pynput==1.7.7
pyperclip==1.9.0
PyRect==0.2.0
PyScreeze==1.0.1
pytweening==1.2.0
requests==2.32.3
requests-toolbelt==1.0.0
six==1.16.0
tzdata==2024.2
tzlocal==5.2
ua-parser==0.18.0
urllib3==2.2.3
websocket-client==0.59.0
Werkzeug==3.1.3
yarl==1.12.1
